<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="供需平台测试套件" parallel="tests" thread-count="1">
    <test name="供需平台测试用例">
        <classes>
            <class name="com.course.bvtcase.Login">
                <methods>
                    <include name="loginCase"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.AddProduct">
                <methods>
                    <include name="runAddProduct"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.UpdateProduct">
                <methods>
                    <include name="updateProduct"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.LookProduct">
                <methods>
                    <include name="lookProduct"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.LookWhiteProductList">
                <methods>
                    <include name="lookWhiteProductList"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.LookWhiteList">
                <methods>
                    <include name="lookWhiteList"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.LookWhiteEnterPriseList">
                <methods>
                    <include name="lookWhiteEnterPriseList"/>
                </methods>
            </class>
        </classes>
    </test>

    <!--添加测试报告监听器-->
    <listeners>
        <listener class-name="com.course.config.ExtentTestNGIReporterListener"></listener>
    </listeners>
</suite>
