<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="供需平台测试套件" parallel="tests" thread-count="1" preserve-order="true">
    <test name="供需平台测试用例">
        <classes>
            <class name="com.course.bvtcase.login.DistriButorLogin">
                <methods>
                    <include name="loginCase"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.productmanagement.AddProduct">
                <methods>
                    <include name="runAddProduct"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.productmanagement.UpdateProduct">
                <methods>
                    <include name="updateProduct"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.productmanagement.LookProduct">
                <methods>
                    <include name="lookProduct"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.whitelistmanagement.LookWhiteProductList">
                <methods>
                    <include name="lookWhiteProductList"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.whitelistmanagement.LookWhiteList">
                <methods>
                    <include name="lookWhiteList"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.whitelistmanagement.LookWhiteEnterPriseList">
                <methods>
                    <include name="lookWhiteEnterPriseList"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.whitelistmanagement.Zimport">
                <methods>
                    <include name="importWhiteListUrl"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.whitelistmanagement.DownloadTemplate">
                <methods>
                    <include name="downloadTemplate"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.login.DistriButorLoginOut">
                <methods>
                    <include name="loginOut"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.loginLA.LoanApproverLogin">
                <methods>
                    <include name="loginCaseLA"/>
                </methods>
            </class>
            <class name="com.course.bvtcase.productmanagement.ProductShelvesUrl">
                <methods>
                    <include name="productShelvesUrl"/>
                </methods>
            </class>
        </classes>
    </test>


    <!--添加测试报告监听器-->
    <listeners>
        <listener class-name="com.course.config.ExtentTestNGIReporterListener"></listener>
    </listeners>
</suite>
