<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.model">
    <!--获取登录Case-->
    <select id="loginCase" parameterType="Integer" resultType="com.course.model.LoginCase">
        select * from loginCase
        where id = #{id}
    </select>
    <!--添加用户Case-->
    <select id="addUserCase" parameterType="Integer" resultType="com.course.model.AddUserCase">
        select * from addUserCase
        where id = #{id}
    </select>
    <!--获取用户信息Case-->
    <select id="getUserInfoCase" parameterType="String" resultType="com.course.model.GetUserInfoCase">
        select * from getUserInfoCase
        where id = #{id}
    </select>
    <!--获取用户列表Case-->
    <select id="getUserListCase" parameterType="String" resultType="com.course.model.GetUserListCase">
        select * from getUserListCase
        where id = #{id}
    </select>
    <!--更新删除用户Case-->
    <select id="updateUserInfoCase" parameterType="Integer" resultType="com.course.model.UpateUserInfoCase">
        select * from updateUserInfoCase
        where id = #{id}
    </select>
</mapper>